












{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container-fluid">
    <div class="ms-2">
        <img class="float-left" width="55%" src="{% static 'images/try.jpg' %}" />
    </div>
<h3>About</h3>
<p>As NairobiTamu we Welcome users, escorts, and guests . This is home of sexy Nairobi Escorts.
     The aim of Nairobi Tamu is to make sex life as easy as possible and fun compared  to 
    traditional dating which takes months or weeks before hitting the jackpot.
    The busy nature of Nairobi residents do not allow for Nairobians to meet and start dating, thus taking too much to know each other. Most people due to their busy nature prefer meeting a fine lady and have a good time thus saving money, time, and energy.
Nairobi Tamu  registers  users offering adult services.
</p>
<ol>
    <li>
        <h4>Escorts</h4>These are the users whose profiles are posted offering adult services. These  ladies are  escorts in Nairobi, Kenyan Escorts, Nairobi call girls or Nairobi  adults services provider
       
    </li>
    <li>
        <h4>Normal Users</h4>These are the users who come to this website seeking services.In short these are clients or customers. Their membership is optional, and not much is required from them. Just having access to the Nairobi hot ladies and getting their preference desires served.
        We are caring and we got all customers covered by offering best escorts. Thanks all for your support.
    </li>
</ol>

 
Nairobi tamu  provides various beautiful sexy Nairobi escorts and hot Nairobi call girls, massage parlors, massage ladies in Nairobi  who will enjoy to make all your sex desires a reality. You can choose any of the escorts listed on our site. Campus students, mature, submissive girlfriends, wild sexy escorts we got you covered.
 With our escort services, be assured of sexual satisfaction. We promise the best of romantic moments of  life . Yes you will a good time in  company of our Nairobi Hot girls.
 NAIROBI TAMU, NAIROBI ESCORTS, NAIROBI CALL GIRLS, Kenya escorts. Our escorts come from all over the region, and provide sex, romance, massage, date, Nairobi sex, extras, ass rimming anal, dinner dates, company, lap dancing, etc. Visit our site, Nairobi tamu escorts and meet Kenyan porn girls. Some of our escorts also provide Nairobi porn experience. 
 This experience is very wild, rough, and somewhat like what you see in adult movies. However, if you want to go for this service, then you need to make sure to discuss  with your  escorts, so that there are no embarrasment. 
 If you are not someone who has some sexy wild fantasies, and  interested in meeting with our sexy Nairobi models, then you can opt for the girlfriend experience service. Meet intelligent, romanic, sexy girls for a pleasurable experince. Take them out, have fun time, good time, eat your pie, and be assured to have a great time together.
  Do you want a great time ? Grab your phone, call your favorite Nairobi Sweet escort from the list.
Nairobi Tamu is just full of hot escorts in Nairobi.
Nairobi sex workers in Nairobi tamu are sexy  ladies.
NairobiTamu got you covered we offer best sex workers.
 
<p>Thank you all.</p>
</div>

    

{% endblock %}