






{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container-fluid">
    <div class="ms-2">
        <img class="float-left" width="55%" src="{% static 'images/try.jpg' %}" />
    </div>
<h3>Services</h3>
<h4>Welcome to Nairobi Tamu home of beautiful Nairobi escorts</h4>
Nairobi Tamu offers  the best adult services in Kenya ,East Africa and Africa . 
<h5>Why us</h5>
We have a rich database of registered escorts all over Kenya. Nairobi Tamu  directory website, whose verified call girls have been listed  for your benefit and feel free to have a taste of Nairobi escorts services
<ol>
    <li>
        <h6>Call boys Service</h6>
        <p>Call boys,men offering services to women/ladies.If you are a lady experiencing a long dry spell,then worry no more.
        </p>
    </li>
    <li>
        
            <h6>Massage in Nairobi</h6>
            
         <p>Nairobi Tamu offers a large database of ladies offering massage services.We have specialists in Thai Massage,Swedish Massage in Nairobi, Nude massage, man-to-womann massage,Hot oil massage, stone massage and deep tissue massage.Feel free to choose any lady of your liking and ease your desire.Our Nairobiraha Escorts are clean and hot of all Kenya Escorts</p>   
       
    </li>
    <li>
        <h6>Bachelorrete and Stag Parties</h6>
        <p>
            Nairobi Escorts ladies also offers another service gaining momentum currently in the country is bachelorette and stag parties.NairobiTamu Escorts facilitates the service providers to post the services  and meet users seeking such services. NairobiTamu is just one-stop shop for Nairobi Escorts services
NairobiTamu offer such an exciting opportunity for all part lovers to meet Nairobi Escorts ladies free of charge.Nairobi Escorts ladies are now available in your neighbourhood
        </p>
    </li>
    
</ol>


</div>

    

{% endblock %}