{% block sidebar %}



    







<!-- Sidebar Widgets Column -->
    <div class="col-md-4 float-right ">
        <div class="card my-4">
            <h5 class="card-header" style="color: #FF42AE;">About Us</h5>
                <div class="card-body">
                    <p class="card-text"> Welcome to Nairobi Tamu, the site of beautiful Escort girls in Kenya, Massage parlours and ladies in Nairobi, sex workers, models and much more for your leisure and pleasure. They offer adults services in Kenya, maybe you may want one for the weekend just to give warmth and pleasure in the cold days. Browse NairobiTamu for more fun . Find the fun experience and make connections on Nairobi Tamu</p>
                    <a href="{% url 'about' %}" class="btn text-white" style="background-color: #FF42AE;">Know more</a>
                </div>
        </div>
    </div>

{% endblock sidebar %}
